<h1 class="text-center mt-4"><strong>LIST OF BLOGGERS</strong></h1>


  
  <div class="container mt-4"> 
    <% @users.each do |user| %> 
      <div class="col d-flex justify-content-center">
      <div class="card-block text-center mt-4">
      <div class="card" style="width:260px">
        <%= image_tag(user.image) if user.image.attached? %>
      <div class="card-body">
        <h4 class="card-title">
        <%= link_to user.username, user %>
        </h4>
        <p class="card-text"></p>
        <%= link_to "View profile", user, class: "btn btn-outline-success" %>
        <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info " %>
      </div>
      <div class="card-footer text-center text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
      </div>
      </div>
      </div>
    <% end %>
  </div>
  


  
    
    
    
  
  
  
  


