<h1 class="text-center mt-4"><strong>SIGN UP TO OWN BLOG</strong></h1>
  <div class="container mt-4">
  <%= render 'shared/error', obj: @user %>
    <div class="row justify-content-center">
      <div class="col-10">
        <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-light rounded", local: true) do |f| %>
          <div class="form-group">
          <%= f.label :username, class: "col-2 col-form-label " %>
          <div class="col-12">
          <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter Username" %>
          </div>
          </div>

          <div class="form-group">
          <%= f.label :email, class: "col-2 col-form-label " %>
          <div class="col-12">
          <%= f.text_field :email, class: "form-control shadow rounded", placeholder: "Enter your Email" %>
          </div>
          </div>

          <div class="form-group">
          <%= f.label :password, class: "col-2 col-form-label " %>
          <div class="col-12">
          <%= f.text_field :password, class: "form-control shadow rounded", placeholder: "Create a Password" %>
          </div>
          </div>

          <div class="form-group">
            <%= f.label :image, class: "col-2 col-form-label " %>
            <%= f.file_field :image, class: "form-control-file"%>  
          </div>

          <div class="form-group row justify-content-center">
            <%= f.submit "Sign up", class: "btn btn-outline-success btn-lg" %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>


